[View in Colaboratory](https://colab.research.google.com/github/yerimlim/TodayILearned/blob/master/2018-10-01-How_to_import_data_through_Kaggle_api_using_Colaboratory.ipynb)


##  [Kaggle api](https://github.com/Kaggle/kaggle-api)를 통해 kaggle data를 불러오자. 

[머신러닝탐구생활](http://www.yes24.com/24/goods/63830327)을 실습하는 도중 google Colaboratory에서 Kaggle API를 사용하는데 문제가 생겼다. 책에 소개된 방법은 python IDE를 이용하는 방법인데, Colaboratory에서 이 방법대로 하면 안 된다. 

[Colaboratory에서 Kaggle API를 사용하는 방법](https://medium.com/@move37timm/using-kaggle-api-for-google-colaboratory-d18645f93648)은 아래 코드를 따라하면 하면 된다.

In [1]:
!pip install kaggle

Collecting kaggle
  Downloading https://files.pythonhosted.org/packages/c6/78/832b9a9ec6b3baf8ec566e1f0a695f2fd08d2c94a6797257a106304bfc3c/kaggle-1.4.7.1.tar.gz (52kB)
    100% |████████████████████████████████| 61kB 2.2MB/s
Requirement already satisfied: urllib3<1.23.0,>=1.15 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2018.8.24)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.26.0)
Collecting python-slugify (from kaggle)
  Downloading https://files.pythonhosted.org/packages/00/ad/c778a6df614b6217c30fe80045b365bfa08b5dd3cb02e8b37a6d25126781/python-slugify-1.2.6.tar.gz
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Collecting Unidecode>=0.04.16 (from python-slugify->kaggle)
  Downloading https://files.pythonhosted.org/packages/59/ef/67085e30e8bbcdd76e2f0a4ad8151c13a2c5bce77c85f8cad6e1f16fb141/Unidecode-1.0.22-py2.py3-none-any.whl (235kB)
    100% |████████████████████████████████| 235kB 6.2MB/s
Building wheels for collected packages: kaggle, python-slugify
  Running setup.py bdist_wheel for kaggle ... - \ done
  Stored in directory: /root/.cache/pip/wheels/44/2c/df/22a6eeb780c36c28190faef6252b739fdc47145fd87a6642d4
  Running setup.py bdist_wheel for python-slugify ... - done
  Stored in directory: /root/.cache/pip/wheels/e3/65/da/2045deea3098ed7471eca0e2460cfbd3fdfe8c1d6fa6fcac92
Successfully built kaggle python-slugify
Installing collected packages: Unidecode, python-slugify, kaggle
Successfully installed Unidecode-1.0.22 kaggle-1.4.7.1 python-slugify-1.2.6

In [5]:
from googleapiclient.discovery import build
import io, os
from googleapiclient.http import MediaIoBaseDownload
from google.colab import auth
auth.authenticate_user()
drive_service = build('drive', 'v3')
results = drive_service.files().list(
        q="name = 'kaggle.json'", fields="files(id)").execute()
kaggle_api_key = results.get('files', [])
filename = "/root/.kaggle/kaggle.json"
os.makedirs(os.path.dirname(filename), exist_ok=True)
request = drive_service.files().get_media(fileId=kaggle_api_key[0]['id'])
fh = io.FileIO(filename, 'wb')
downloader = MediaIoBaseDownload(fh, request)
done = False
while done is False:
    status, done = downloader.next_chunk()
    print("Download %d%%." % int(status.progress() * 100))
os.chmod(filename, 600)

Download 100%.

In [6]:
!kaggle competitions list # 내 Kaggle 계정을 통해 다운로드 받을 수 있는 목록들을 출력한다.

ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       2514           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge       9719            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       3999           False
imagenet-object-localization-challenge         2029-12-31 07:00:00  Research         Knowledge         26           False
two-sigma-financial-news                       2019-01-08 23:59:00  Featured          $100,000        379           False
competitive-data-science-predict-future-sales  2019-01-01 23:59:00  Playground           Kudos       1497           False
PLAsTiCC-2018                                  2018-12-17 23:59:00  Featured           $25,000         51           False
quickdraw-doodle-recognition                   2018-12-04 23:59:00  Featured           $25,000        123            True
ga-customer-revenue-prediction                 2018-11-15 23:59:00  Featured           $45,000       1727            True
inclusive-images-challenge                     2018-11-05 23:59:00  Research           $25,000        309           False
rsna-pneumonia-detection-challenge             2018-10-24 23:59:00  Featured           $30,000       1049           False
tgs-salt-identification-challenge              2018-10-19 23:59:00  Featured          $100,000       2942           False
airbus-ship-detection                          2018-10-04 23:59:00  Featured           $60,000        929           False
new-york-city-taxi-fare-prediction             2018-09-25 23:59:00  Playground       Knowledge       1488           False
forest-cover-type-kernels-only                 2018-09-24 23:59:00  Playground       Knowledge        359           False
demand-forecasting-kernels-only                2018-09-24 23:59:00  Playground       Knowledge        462           False
whats-cooking-kernels-only                     2018-09-24 23:59:00  Playground       Knowledge        523           False
flavours-of-physics-kernels-only               2018-09-24 23:59:00  Playground       Knowledge         64           False
movie-review-sentiment-analysis-kernels-only   2018-09-24 23:59:00  Playground       Knowledge        410           False
costa-rican-household-poverty-prediction       2018-09-19 23:59:00  Playground            Swag        619           False

In [7]:
!kaggle competitions download -c santander-product-recommendation #santander 데이터만 다운받는다.

Downloading sample_submission.csv.zip to /content
  0% 0.00/2.28M [00:00<?, ?B/s]
100% 2.28M/2.28M [00:00<00:00, 108MB/s]
Downloading test_ver2.csv.zip to /content
 39% 5.00M/12.7M [00:00<00:00, 9.07MB/s]
100% 12.7M/12.7M [00:00<00:00, 21.5MB/s]
Downloading train_ver2.csv.zip to /content
 94% 209M/222M [00:05<00:00, 37.2MB/s]
100% 222M/222M [00:05<00:00, 43.0MB/s]

In [2]:
import pandas as pd
trn = pd.read_csv('/content/train_ver2.csv.zip', 
                   compression='zip', header=0, sep=',', quotechar='"')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
trn.shape

(13647309, 48)

In [4]:
trn.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [5]:
for col in trn.columns:
  print('{}\n'.format(trn[col].head()))

0    2015-01-28
1    2015-01-28
2    2015-01-28
3    2015-01-28
4    2015-01-28
Name: fecha_dato, dtype: object

0    1375586
1    1050611
2    1050612
3    1050613
4    1050614
Name: ncodpers, dtype: int64

0    N
1    N
2    N
3    N
4    N
Name: ind_empleado, dtype: object

0    ES
1    ES
2    ES
3    ES
4    ES
Name: pais_residencia, dtype: object

0    H
1    V
2    V
3    H
4    V
Name: sexo, dtype: object

0     35
1     23
2     23
3     22
4     23
Name: age, dtype: object

0    2015-01-12
1    2012-08-10
2    2012-08-10
3    2012-08-10
4    2012-08-10
Name: fecha_alta, dtype: object

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ind_nuevo, dtype: float64

0          6
1         35
2         35
3         35
4         35
Name: antiguedad, dtype: object

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: indrel, dtype: float64

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: ult_fec_cli_1t, dtype: object

0    1
1    1
2    1
3    1
4    1
Name: indrel_1mes, dtype: object

0    A
1    I
2    I
3    I
4    A
Name: tiprel_1mes, dtype: object

0    S
1    S
2    S
3    S
4    S
Name: indresi, dtype: object

0    N
1    S
2    N
3    N
4    N
Name: indext, dtype: object

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: conyuemp, dtype: object

0    KHL
1    KHE
2    KHE
3    KHD
4    KHE
Name: canal_entrada, dtype: object

0    N
1    N
2    N
3    N
4    N
Name: indfall, dtype: object

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: tipodom, dtype: float64

0    29.0
1    13.0
2    13.0
3    50.0
4    50.0
Name: cod_prov, dtype: float64

0         MALAGA
1    CIUDAD REAL
2    CIUDAD REAL
3       ZARAGOZA
4       ZARAGOZA
Name: nomprov, dtype: object

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: ind_actividad_cliente, dtype: float64

0     87218.10
1     35548.74
2    122179.11
3    119775.54
4          NaN
Name: renta, dtype: float64

0     02 - PARTICULARES
1    03 - UNIVERSITARIO
2    03 - UNIVERSITARIO
3    03 - UNIVERSITARIO
4    03 - UNIVERSITARIO
Name: segmento, dtype: object

0    0
1    0
2    0
3    0
4    0
Name: ind_ahor_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_aval_fin_ult1, dtype: int64

0    1
1    1
2    1
3    0
4    1
Name: ind_cco_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_cder_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_cno_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ctju_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ctma_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ctop_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ctpp_fin_ult1, dtype: int64

0    0
1    0
2    0
3    1
4    0
Name: ind_deco_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_deme_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_dela_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_ecue_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_fond_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_hip_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_plan_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_pres_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_reca_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_tjcr_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_valo_fin_ult1, dtype: int64

0    0
1    0
2    0
3    0
4    0
Name: ind_viv_fin_ult1, dtype: int64

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ind_nomina_ult1, dtype: float64

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: ind_nom_pens_ult1, dtype: float64

0    0
1    0
2    0
3    0
4    0
Name: ind_recibo_ult1, dtype: int64

In [6]:
trn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
fecha_dato               object
ncodpers                 int64
ind_empleado             object
pais_residencia          object
sexo                     object
age                      object
fecha_alta               object
ind_nuevo                float64
antiguedad               object
indrel                   float64
ult_fec_cli_1t           object
indrel_1mes              object
tiprel_1mes              object
indresi                  object
indext                   object
conyuemp                 object
canal_entrada            object
indfall                  object
tipodom                  float64
cod_prov                 float64
nomprov                  object
ind_actividad_cliente    float64
renta                    float64
segmento                 object
ind_ahor_fin_ult1        int64
ind_aval_fin_ult1        int64
ind_cco_fin_ult1         int64
ind_cder_fin_ult1        int64
ind_cno_fin_ult1         int64
ind_ctju_fin_ult1        int64
ind_ctma_fin_ult1        int64
ind_ctop_fin_ult1        int64
ind_ctpp_fin_ult1        int64
ind_deco_fin_ult1        int64
ind_deme_fin_ult1        int64
ind_dela_fin_ult1        int64
ind_ecue_fin_ult1        int64
ind_fond_fin_ult1        int64
ind_hip_fin_ult1         int64
ind_plan_fin_ult1        int64
ind_pres_fin_ult1        int64
ind_reca_fin_ult1        int64
ind_tjcr_fin_ult1        int64
ind_valo_fin_ult1        int64
ind_viv_fin_ult1         int64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1          int64
dtypes: float64(8), int64(23), object(17)
memory usage: 4.9+ GB